# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
